* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 40px;
    border: 10px;
    border-style: solid;
    background-color: rgb(230, 230, 230)
     
}

#container {
    text-align: left;
    padding: 8px;
}

.group {
    margin: 4px;    
}

body {
    padding: 8px;
}

h1 {
    margin-top: 15px;
    color:  rgb(39, 99, 57);
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    margin-top: 15px;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color:   rgb(39, 99, 57);
}

h3 {
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

h4 {
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

h5 {
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

h6 {
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

p {
    padding-top: 10px;
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

.background {
    background-color: rgb(204, 240, 204);
}

img {
    padding: 10px;
    width: 20%;
}

.imgC {
    width: 1cm;
    float: left;
}
.imgRight {
    
    float: right;
    padding: 10px;
    width: 20%;
}

.imgLeft {
    
    float: left;
    padding: 10px;
    width: 20%;
}

ul {
    padding-left: 30px;
    padding-top: 5px;
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

a{
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

video{
    width: 30%;
}